<form action="/" method="POST">
    <div class="card">
        <div class="card-body">
            <input type="text" class="form-control" placeholder="Agregar usuario" name="user" autocomplete="off" >
           <input type="submit" value="Agregar Usuario" class="btn btn-primary mt-3 w-100">
        </div>
    </div>
</form>